body {
    min-height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
    font-family: ovo;
    background: #e5efde;
}

input {
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
	transition: .5s;
}

.search
{
	margin-left: 80px;
	margin-bottom: 45px;
	overflow: auto;
	border-radius: 5px;
}

.search input[type="text"] {
	font-family: ovo;
	font-size: 18px;
	border: 0px;
	width: 80%;
	padding: 10px 10px;
}

.search input[type="text"]:focus {
	outline: 0;
}

.search input[type="submit"] {
	border-radius: 0 5px 5px 0;
	position: relative;
	left: -297px;
	font-family: ovo;
	font-size: 18px;
	border: 0px;
	background: none;
	background-color: #DF7D60;
	color: #fff;
	float: right;
	padding: 10px;
    cursor:pointer;
}

.backbtn{
	opacity: 0.7;
	display: block;
	width: 120%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #DF7D60, #DF7D60, #DF7D60);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Ovo', serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.search input[type="submit"]:hover {
	background: #9DCAAF;
}

@media only screen and (max-width : 600px) {
	
	.search
	{
		width: 99%;
		margin: 0 auto;
		margin-bottom: 45px;
		margin-left: 50px;
	}

}

.table-container h2 {
	font-size: 	50px;
	text-align: center;	
	border-bottom: 1px solid #DF7D60;
	padding-bottom: 8px;
}

table {
	border-collapse: collapse;
}

th {
	background-color: #DF7D60;
	color: white;
}

th, td {
	padding: .8rem;
	font-size: 1.4rem;
}
    
tbody {
	background-color: #eee;
	color: #555;
}

@media screen and (max-width: 600px){
	th {
	 display: none;
	}
	td{
	display: block;
	}
	
	td:first-child{
	background-color: #DF7D60;
	color: #fff;
	text-align: center;
	}
	
	td:nth-child(2)::before{
	content: "Product Name: "
	}
	
	td:nth-child(3)::before{
	content: "Category: "
	}
	
	td:nth-child(4)::before{
	content: "Quantity: "
	}
	
	td:nth-child(5)::before{
	content: "Price: "
	}
	
	td{
	text-align: right;
	}
	
	td:before{
	float: left;
	margin-right: 3rem;
	font-weight: bold;
	}
}